input, button{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border-color: seagreen;
    border: 2px solid seagreen;
    width: 100%;
    margin: 0 20px;
    color: cadetblue;
}

div{
   display: flex;
    align-items: center;
    flex: 1 4;
    margin-bottom: 20px;
}

button{
    color: green;
    border: 2px solid seagreen;
    font-weight: bold;
    width: 50%;
}