<!-- <div class="login">
    <div class="header" (click)="takeToHome()">
        <h1>Moonblink</h1>
    </div>
    <div class="content">
        <form [formGroup]="loginForm">
            <input type="text" placeholder="Enter your email" formControlName="email" name="email" />
        </form>
        
    </div>
    <div class="footer">
        <button type="button" (click)="loginUser()">Login</button>
    </div>
</div> -->


<!-- msal login -->
 <div class="login">

 <button type="button" (click)="login()">
  Sign in with Microsoft
</button>
 </div>