<div class="home">
    <div class="header" (click)="takeToHome()">
        <h1>Moonblink</h1>
    </div>
    <div class="content">
        <p>A fleeting corner for hearts to speak-where words bloom like midnight fireflies, then vanish with dawn. No footprints, no echoes, just moments shared and set free.</p>
        <p>Close the app, and your secrets dissolve into stardust, leaving only the magic of what was beautifully, briefly yours.</p>
        <!-- <div>
            Open the door, spark a conversation, and let the magic unfold. Speak freely, laugh endlessly, and enjoy the beauty of words that exist only in the moment. Start now, have fun, and make each disappearing chat unforgettable.
        </div> -->
    </div>
    <div class="footer">
        <button type="button" style="width: 200px" (click)="login()">Open the door</button>
    </div>
</div>